<html>
<body>
<link rel="stylesheet" href="{{ asset('bundles/framework/css/cssGeneral.css') }}" type="text/css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<!--<div id="dashboard">
    <center><h2>Outil de Gestion GSB</h2><br></center>
    <div id="l1en">
        <div class="menu"><a href="./admin"><FONT size="5.5"><i class="fa fa-home"></i> Accueil</FONT></span></a></div>
        <div class="menu"><a href="./employe"><FONT size="5.5"><i class="fa fa-users"></i> Employés</FONT></span></a></div>
        <div class="menu"><a href="./ajout"><FONT size="5.5"><i class="fa fa-plus"></i> Ajouter événement</FONT></span></a></div>
        <div class="menu"><a class="deco" href="./deconnexion"><FONT size="5.5"><i class="fa fa-times"></i> Déconnexion</FONT></span></a></div>
    </div>
</div>-->

<div style="background-color:#293F54;color:#ffffff;font-size: 2rem;padding-top:0.5rem;"><center> Outil de Gestion GSB</center></div>
<nav id="nav-1">
    <a href="./admin" class="link-1" href="#"> <i class="fa fa-home"></i> Accueil</a>
    <a href="./employe" class="link-1" href="#"> <i class="fa fa-users"></i> Employés</a>
    <a href="./ajout" class="link-1" href="#"> <i class="fa fa-plus"></i> Ajouter événement</a>
    <a href="./deconnexion" class="link-1" href="#"> <i class="fa fa-times"></i> Déconnexion</a>
</nav>
<center>
<div id="conteneur">
    <h1 style="margin-left:2.5%;">Convocations aux événements de {% for n in leNom %} {{ n.Prenom }} {{ n.Nom }} {% endfor %}</h1>
    <center>
        <table style="width:95%; margin-left:2.5%;">
                    <tr class="ligneBlanche">
                        <!--<td><b>Prénom</b></td>
                        <td><b>Nom</b></td>-->
                        <td><b>Date</b></td>
                        <td><b>Libellé</b></td>
                        <td><b>Heure</b></td>
                        <td><b>Durée</b></td>
                    </tr>
            {% for d in lesDonnees %}
                <tr class="ligne">
                    <!--<td> {{ d.Prenom }}</td>
                    <td> {{ d.Nom }}</td>-->
                    <td> <i class="fa fa-calendar"></i> {{ d.date_e }}</td>
                    <td> <i class="fa fa-file-text-o"></i> {{ d.libelle_e }}</td>
                    <td> <i class="fa fa-clock-o"></i> {{ d.heure_e }} </td>
                    <td> <i class="fa fa-hourglass-half"></i> {{ d.duree }} </td>
                </tr>
            {% endfor %}
        </table>
    </center>
</div>

</body>
</html>